<!DOCTYPE html>
<html>
  <head>
    <title>Cloud Workshop CPU Info</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello Traveler!</h1>
    <p>Number of cores: <%= num_cpu_cores %></p>
    <p>Total Memory: <%= total_memory / 1000000 %> Megabytes</p>
    <p>Hostname: <%= hostname %></p>
  </body>
</html>
